.title {
    margin-top: 20px;
    text-align: center;
    color: aliceblue;
}
.search {
    margin-left: 42%;
}
.rl {
    text-align: center;
    color: aliceblue;
}
.details {
    float: left;
    margin-left: 400px ;
    margin-right: 100px;
    margin-top: 20px;
    text-decoration: none;
}
.const {
    font-size: x-large;
    color: aliceblue;
}
.details a{
   text-decoration: none;
}
a:hover {
    color: cadetblue;
}
.ttl{
    font-size: larger;
    color: cadetblue;
    margin-left: 5px;
}
.closing{
    font-size: x-large;
    color: aliceblue;
}
.rl{
    margin-top: 20px;
    font-size: xx-large;
    color: aliceblue;
    text-align: center;
}
.repos-cont{
   color: aliceblue;
   border: 1px solid white;
   margin: 15px;
   padding: 20px;

}